* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classi generiche */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.btn {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.btn-blu {
    background-color: #0984fd;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;

}
.btn-viola{
    height: 60px;
    width: 60px;
    background-color:#9792e4;
    color: black;
    border: none;
    border-radius: 100%;
}

/***HEADER ***/

.row1-header {
    width: 100%;
    height: auto;
    background-color: #0984fd;
}

.row-container {
    width: 60%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    padding: 15px;
}


.row-colonna2 {
    align-items: center;
}

.row-colonna2 ul li>a {
    text-decoration: none;
}

.row1-menu {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.row1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: 15px;
}

/*** MAIN ROW1 ***/
.row1 {
    width: 100%;
    height: auto;
}

.row1-container {
    width: 60%;
    height: auto;
    margin: 50px auto 100px;
    padding: 10px;
}

.row1-colonna1 {

    justify-content: space-between;
}


.card1 {
    width: 750px;
    height: 350px;
    padding: 20px;
    gap: 15px;
    background-color: #b5ddff;
    border-radius: 20px;
    position: relative;
}

.card {
    width: 32%;
    height: 350px;
    background-color: #b5ddff;
    border-radius: 20px;
}

.text-colonna1 {
    width: 55%;
}

.text-colonna1>h2 {
    color: #0984fd;
}

.text-colonna1>p {
    font-size: 20px;
}

.text-colonna1>p {
    width: 85%;
    margin-top: 30px;
    line-height: 35px;
}

.text-colonna1>button {
    width: 50%;
    margin-top: 50px;
}

.img-colonna1 {
    width: 45%;
}

.img-colonna1 figure>img {
    position: absolute;
    bottom: 0;
    height: 80%;
}

.icons-card {
    margin-top: 30px;
    align-items: flex-start;
    justify-content: center;
    height: 50%;
}

.text-card {
    justify-content: end;
    align-items: center;
    padding: 20px;
    line-height: 35px;
    height: 50%;
}

.text-card>h2 {
    margin-bottom: 15px;
}

.row1-colonna2.flex {
    margin-top: 30px;
    justify-content: space-between;
}
/*** MAIN ROW2 ***/
.row2{
    width: 100%;
    height: auto;
    background-color: #9792e4;
}
.row2-container{
    width: 50%;
    height: auto;
    margin: 0 auto ;
    padding: 10px;
}
.row2-colonna1,
.row2-colonna2{
    width: 50%;
}
.row2-colonna2{
    justify-content: center;
    align-items: end;
}
.row2-ctn-white.flex.flex-column {
    width: 85%;
    height: 60%;
    background-color: white;
    border-radius: 40px;
}
.img2-row2{
    margin-top: 30px;
    height: 40%;
    justify-content: center;
}

.text2-row2{
    align-items: center;
    padding: 25px;
}
.text2-row2 > p{
  margin-top: 20px;
  line-height: 40px;
}
.text2-row2 > button{
    margin-top: 20px;
    
  }

/*** MEDIA QUERY ***/

/* media query 480 */

@media screen and (max-width:480px) {
    /* HEADER */

    .row1-header {
        width: 100%;
        height: auto;
        background-color: #0984fd;
    }

    .row-container {
        width: 90%;
        height: auto;
        margin: 0 auto;
        justify-content: space-between;
        padding: 15px;
    }

    /* MAIN ROW1 */
    .row1 {
        display: flex;
        flex-direction: column;
        width: 480px;
    }

    .row1-container {
        width: 80%;
        height: auto;
        margin: 20px auto 70px;
        padding: 10px;
    }

    .img-colonna1 figure>img {
        position: absolute;
        bottom: 0;
        left: 50px;
        height: 45%;

    }

    .text-colonna1 {
        width: 100%;
    }

    .card1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 630px;
        padding: 20px;
        background-color: #b5ddff;
        position: relative;
    }

    .card {
        width: 100%;
        height: 350px;
        background-color: #b5ddff;
        border-radius: 20px;
        margin-top: 20px;
    }
    .row1-colonna1 {
        display: flex;
        flex-direction: column;
    }
    
    .row1-colonna2 {
        display: flex;
        flex-direction: column;
    }
}


/* media query 768px */

@media screen and (max-width:768px) {
    .row1-header {
        width: 100%;
        height: auto;
        background-color: #0984fd;
    }

    .row-container {
        width: 90%;
        height: auto;
        margin: 0 auto;
        justify-content: space-between;
        padding: 15px;
    }

    /* MAIN ROW1 */
    .row1-container {
        width: 100%;
        margin: 50px auto 100px;
        padding: 10px;
    }
    .card1 {
        width: 500px;
        height: 400px;
        padding: 20px;
        gap: 15px;
        background-color: #b5ddff;
        border-radius: 20px;
        position: relative;
    }
    .img-colonna1 figure>img {
        position: absolute;
        bottom: 0;
        height: 60%;
    }
    .card {
        width: 32%;
        height: 400px;
        background-color: #b5ddff;
        border-radius: 20px;
    }

}